html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#app {
  max-width: none;     /* override Vite template */
  padding: 0;          /* override Vite template */
  text-align: left;    /* optional: remove centering */
}

.full-bleed-stage {
  position: fixed;     /* <-- take it out of the flow and pin it */
  inset: 0;
}